title = "movie-single"
url = "/movie/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "MdTanvirHaque\Movies\Models\Movie"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "name"
notFoundMessage = "Record not found"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container">
		{% if record %}
    	<h3 style="color: purple">{{ record.name }} (  {{ record.year }} )</h3>
    	<div style="display: flex">
    		<img src="{{ record.poster.path }}" class="mr-5" height="250px" width="180px"> 
            
                 
          
    		<p>{{ record.description }}<p>
    	</div>
    	
		{% else %}
		    {{ notFoundMessage }}
		{% endif %}

    <div>
    <h5> Genre </h5>
        {%  for genre in record.genres %}
            
         {{genre.genre_title}}

    {% endfor %} <br><br>
    <h5>Actors</h5>
    {% for actors in record.actor %}
        {{ actors.actor_name }} - {{ actors.actor_age }} <br>
    {% endfor %}
    </div>
    <div  style="display: flex;">
        {% for image in record.gallery %}
            <img src="{{  image.path }}" width="80px" height="80px" class="mt-3 ml-2 mr-2" style="padding: 2px; border: 1px solid #ccc; background-color: #ccc; box-shadow: 0px 0px 1px 1px"> 
        {% endfor %}
    </div>

   

</div>